$primary-clr: #78543b;
$hover-color: #83624b;
$secondary-clr: #bf9e87;
$secondary-font-clr: #b5947d;
$secondary-bg-clr: #bf9e87;
$primary-bg-clr: #47260f;
$black-clr: #000;
$white-clr: #fff;
$primary-dark-clr: #3e3229;