@import './../../../../constants';

.container-add-category {
    color: #000;
    margin: 20px;
    //background-color: aqua;
}
.add-category {

    &__header {
        text-align: center;
        color: $white-clr;
    }
    &__form {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        background-color: $primary-clr;
        padding: 20px;

        &-group {
            padding: 20px;
            .mat-form-field {
                width: 100%;
                color: $white-clr;
            }
            p {
                color: $secondary-font-clr;
            }
        }
    }
    &__mat-card-btn {
        text-align: right;
        margin-right: 20px;

        button {
            border-radius: 0px;
            background-color: $secondary-clr;
        }
    }
}