<div class="container-dashboard">
    <div class="dashboard-details">
        <div class="detail-item">
            <div class="detail">
                <h4>Total Category</h4>
                <h2 class="detail-data">130</h2>
            </div>
        </div>
        <div class="detail-item">
            <div class="detail">
                <h4>Total Product</h4>
                <h2 class="detail-data">1,423</h2>
            </div>
        </div>
        <div class="detail-item">
            <div class="detail">
                <h4>Total Bill</h4>
                <h2 class="detail-data">Rs. 20,456</h2>
            </div>
        </div>
    </div>
</div>